// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1ac230;
$gray: #828282;
$white: #ffffff;
$black: #0E0000;
$light-gray: #ddd;



// background desgin
$desgin1: rgba(214, 212, 54, 1);
$desgin2: rgba(154, 147, 147, 1);
$desgin3border: rgba(56, 53, 53, 1);
