// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1ac230;
$gray: #828282;
$white: #ffffff;
$black: #0E0000;
$light-gray: #ddd;



//navbar
$light-blue: #4e91f4;
$light-green: #1EDD88;
$dark-blue: #034ebc;
$dark-green: #14b16a;

//navbar button
$blue1: #6f9cdf;
$blue2: #6ddaa8;


// For dropdown:
$dropdown-color: #3498DB;
$dropdownactive-color: #2980B9;
$dropdown: #f1f1f1;
$dropdownactive: #ddd;
