.vector-1-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-2-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-3-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.component-desigin-4-14 {
  flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
