.vector-14-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-15-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-3-10 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
