
.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.vector-1-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-2-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-3-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.component-desigin-2-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-1-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-2-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-3-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.component-desigin-3-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-14-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-15-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-3-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-1-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-2-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-3-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.component-desigin-4-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-14-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-15-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.text-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-2-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 128px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 128px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-desigin-4-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-7-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.component-desigin-5-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.welcome-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-1-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-2-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-3-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.component-desigin-1-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-1-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  border: none;
  outline: none;
}

.vector-2-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-3-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.component-desigin-3-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-desigin-4-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.text-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-4-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.info-text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.component-desigin-4-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.text-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-4-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.info-text-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.component-desigin-4-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.text-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-4-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.info-text-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.component-info-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.component-info-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-5-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
}

.vector-6-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin1;
  border: none;
  outline: none;
}

.text-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.contact-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: $lettertype1;
  font-weight: normal;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.slide-16-9-welcome-1 {
@media (max-width: 1440px) {
  .slide-16-9-welcome-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .slide-16-9-welcome-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(56, 53, 53, 1);
}
