.vector-1-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid $desgin3border;
  fill: $desgin1;
  z-index: 0;
}

.vector-2-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
  z-index: 2;
}

.vector-3-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: $desgin2;
  border: none;
  outline: none;
  z-index: 3;
}

.component-desigin-3-6 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
