<div class="container--0-">
  <svg
    width="398"
    height="400"
    viewBox="0 0 398 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M354 42L397 2V332L328.5 399H1.5C13 384.167 37.4 354.5 43 354.5H308L354 304V42Z"
      fill="#D6D436"
      stroke="black"
    ></path>
    <path d="M40.8182 355L1 399H128.091L199 355H40.8182Z" fill="#9A9393"></path>
    <path
      d="M355 37.8566L397 2V87.6574L355 127V37.8566Z"
      fill="#9A9393"
    ></path></svg
  ><svg
    width="398"
    height="400"
    viewBox="0 0 398 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M354 42L397 2V332L328.5 399H1.5C13 384.167 37.4 354.5 43 354.5H308L354 304V42Z"
      fill="#D6D436"
      stroke="black"
    ></path>
    <path d="M40.8182 355L1 399H128.091L199 355H40.8182Z" fill="#9A9393"></path>
    <path d="M355 37.8566L397 2V87.6574L355 127V37.8566Z" fill="#9A9393"></path>
  </svg>
  <div class="container-0-1-2">
    <svg
      width="184"
      height="12"
      viewBox="0 0 184 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M24 0.5L0 12H161L183.5 0.5H24Z" fill="#D6D436"></path></svg
    ><svg
      width="104"
      height="13"
      viewBox="0 0 104 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0.5 13L22.1049 0H103.5L79.8854 13H0.5Z" fill="#9A9393"></path>
    </svg>
    <div class="text-1-2-2">PDF</div>
  </div>
  <svg
    width="209"
    height="236"
    viewBox="0 0 209 236"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M185.523 25.4761L208 1.99998V195.678L172.193 235H1.26137C7.27274 226.294 20.0273 208.883 22.9546 208.883H161.477L185.523 179.244V25.4761Z"
      fill="#D6D436"
      stroke="black"
    ></path>
    <path
      d="M21.814 209.176L1 235H67.4339L104.5 209.176H21.814Z"
      fill="#9A9393"
    ></path>
    <path
      d="M186.045 23.0443L208 2.00002V52.2725L186.045 75.3627V23.0443Z"
      fill="#9A9393"
    ></path>
  </svg>
  <div class="container-0-1-4">
    <svg
      width="184"
      height="12"
      viewBox="0 0 184 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M24 0.5L0 12H161L183.5 0.5H24Z" fill="#D6D436"></path></svg
    ><svg
      width="104"
      height="13"
      viewBox="0 0 104 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0.5 13L22.1049 0H103.5L79.8854 13H0.5Z" fill="#9A9393"></path>
    </svg>
    <div class="text-1-2-2">Word</div>
  </div>
  <div class="container-0-1-5">
    <div class="text-1-2-0">Text</div>
    <div class="text-1-2-1">Welcome.</div>
    <svg
      width="46"
      height="526"
      viewBox="0 0 46 526"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 524V80.9166L46 0V460.702L0 524Z" fill="#9A9393"></path>
      <path d="M46 462.5L0 525.5V261.5H46V462.5Z" fill="#D6D436"></path>
    </svg>
  </div>
  <svg
    width="398"
    height="400"
    viewBox="0 0 398 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M44 358L1 398V68L69.5 1H396.5C385 15.8333 360.6 45.5 355 45.5H90L44 96V358Z"
      fill="#D6D436"
      stroke="black"
    ></path>
    <path d="M357.182 45L397 1H269.909L199 45H357.182Z" fill="#9A9393"></path>
    <path d="M43 362.143L1 398V312.343L43 273V362.143Z" fill="#9A9393"></path>
  </svg>
  <div class="container-0-1-7">
    <svg
      width="162"
      height="196"
      viewBox="0 0 162 196"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.3737 174.554L1 194V33.5718L28.6768 1H160.798C156.152 8.21117 146.293 22.6335 144.03 22.6335H36.9596L18.3737 47.1839V174.554Z"
        fill="#D6D436"
        stroke="black"
      ></path>
      <path
        d="M144.912 22.3904L161 1H109.65L81 22.3904H144.912Z"
        fill="#9A9393"
      ></path>
      <path
        d="M17.9697 176.568L1 194V152.358L17.9697 133.232V176.568Z"
        fill="#9A9393"
      ></path>
    </svg>
    <div class="container-1-2-1">
      <div class="text-2-3-0">Info</div>
      <div class="container-2-3-1">
        <svg
          width="198"
          height="13"
          viewBox="0 0 198 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0H167.425L198 13H23.9178L0 0Z" fill="#9A9393"></path>
        </svg>
        <div class="text-3-4-1">About</div>
        <svg
          width="109"
          height="13"
          viewBox="0 0 109 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M108.5 12.5L78.5 0H0L31.5 12.5H108.5Z" fill="#D6D436"></path>
        </svg>
      </div>
      <div class="container-2-3-2">
        <svg
          width="198"
          height="13"
          viewBox="0 0 198 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0H167.425L198 13H23.9178L0 0Z" fill="#9A9393"></path>
        </svg>
        <div class="text-3-4-1">Skills</div>
        <svg
          width="109"
          height="13"
          viewBox="0 0 109 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M108.5 12.5L78.5 0H0L31.5 12.5H108.5Z" fill="#D6D436"></path>
        </svg>
      </div>
      <div class="container-2-3-3">
        <svg
          width="198"
          height="13"
          viewBox="0 0 198 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0H167.425L198 13H23.9178L0 0Z" fill="#9A9393"></path>
        </svg>
        <div class="text-3-4-1">Project</div>
        <svg
          width="109"
          height="13"
          viewBox="0 0 109 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M108.5 12.5L78.5 0H0L31.5 12.5H108.5Z" fill="#D6D436"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="container-0-1-8">
    <svg
      width="300"
      height="125"
      viewBox="0 0 300 125"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M31.4189 0L0 27.9412V125H268.581L300 95.5882V0H31.4189Z"
        fill="#9A9393"
      ></path></svg
    ><svg
      width="147"
      height="125"
      viewBox="0 0 147 125"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 124.5V0H147V94.5L115.5 124.5H0Z" fill="#D6D436"></path>
    </svg>
    <div class="text-1-2-2">Contact</div>
  </div>
  <div class="text-0-1-9">C.V.</div>
</div>
